@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    @if (User.Identity.IsAuthenticated)
    {
        //use default layout
    }
    else
    {
        Layout = "_AddLayout";
        RedirectToPage("./Account/SignIn");
    }
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
